@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.circular-btn {
  border-radius: 30px;
}

.circular-btn:hover {
  background-color: #274494 !important;
}


.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.fondoImg {
  background-image: url(/fondo.svg);
}

.rotatingImage {
  width: 20vw;
  height: 20vw;
  background-image: url('/icon.png');
  background-size: cover;
  animation: rotateAnimation 8s infinite;
  /* animation: fadeIn 4s infinite; */
  
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(10deg);
    /* opacity: 0; */
  }
  25% {
    transform: rotate(0deg);
    /* opacity: 0.10; */
  }

  50%{
    transform: rotate(-10deg);
    /* opacity: 1; */
  }
  75% {
    transform: rotate(0deg);
    /* opacity: 1; */
  }
  100% {
    transform: rotate(10deg);
    /* opacity: 1; */
  }
}


/* PARA QUE LAS TABLAS NO MUESTREN BORDE AL HACER CLICK */
.MuiDataGrid-cell--textLeft .css-a2dfy0-MuiDataGrid-root  {
  outline: none !important;
}
.MuiDataGrid-columnHeader{
  outline: none !important;
}
.css-a2dfy0-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell{
  outline: none !important;
}
.css-a2dfy0-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell:focus {
  outline: none !important;
}